<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Base Currency</th>
      <th>Quote Currency</th>
      <th>Supported Exchanges</th>
      <th>Details</th>
      <th>Reports</th>
    </tr>
  </thead>
  <tbody>
    <% @markets.each do |m| %>
      <tr>
        <th scope="row"><%= m.id %></th>
        <td><%= m.name %></td>
        <td><%= m.base_currency %></td>
        <td><%= m.quote_currency %></td>
        <td><%= m.pairs.map{|l| l.exchange.name.upcase }.join(', ') %></td>
        <td><%= link_to "Details", backend_market_path(m), class: 'btn btn-success' %></td>
        <td><%= link_to "Reports", backend_market_reports_path(m), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
