
<h3 class="text-center">Last Tickers</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Exchange</th>
      <th>Ask</th>
      <th>Bid</th>
      <th>Last</th>
      <th>spread</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.first.tickers.each do |ticker| %>
      <tr>
        <th scope="row">#</th>
        <td><%= ticker['exchange_name'] %></td>
        <td><%= ticker['ask'] %></td>
        <td><%= ticker['bid'] %></td>
        <td><%= ticker['last'] %></td>
        <td><%= ticker['spread'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 class="text-center">Last 50 reports</h3>
<table class="table report_market_<%= @market.id %> table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Market</th>
      <th>Price Difference</th>
      <th>Is Opportunity</th>
      <th>Pair 1</th>
      <th>Pair 2</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |r| %>
      <tr>
        <th scope="row"><%= r.id %></th>
        <td><%= r.market.name %></td>
        <td><%= r.price_difference %></td>
        <td><%= r.is_opportunity %></td>
        <td><%= r.pairs.first %></td>
        <td><%= r.pairs.last %></td>
        <td><%= link_to "Details", backend_market_report_path(r.market, r), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  document.addEventListener("turbolinks:load", function(){
    market_subscription("<%= @market.id %>")
  })
<% end %>
