
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Market</th>
      <th>Spread</th>
      <th>Pairs Involved</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |r| %>
      <tr>
        <th scope="row"><%= r.market.id %></th>
        <td><%= r.market.name %></td>
        <td><%= r.spread %></td>
        <td><%= r.pairs %></td>
        <td><%= link_to "Details", backend_market_report_path(r.market, r), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
