<%= link_to "Market List", backend_markets_path, class: 'btn btn-success' %>

<h1 class="text-center">Exchanges List</h1>

<p class="text-right" style="margin-right:2em;"><%= @exchanges.count %> Active Exchanges</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Base Url</th>
      <th>Asset endpoint?</th>
      <th>Ticker endpoint?</th>
      <th>Tickers endpoint?</th>
      <th>last_ticker_request</th>
      <th>Details</th>
      <th>Pairs</th>
    </tr>
  </thead>
  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <th scope="row"><%= exchange.id %></th>
        <td><%= exchange.name %></td>
        <td><%= exchange.base_url %></td>
        <td><%= exchange.has_assets_endpoint %></td>
        <td><%= exchange.has_ticker_endpoint %></td>
        <td><%= exchange.has_tickers_endpoint %></td>
        <td><%= exchange.last_ticker_request %></td>
        <td><%= link_to "Details", backend_exchange_path(exchange), class: "btn btn-info", data: { turbolinks: false } %></td>
        <td><%= link_to "Pairs List", backend_exchange_exchange_pairs_path(exchange), class: "btn btn-warning", data: { turbolinks: false } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
